<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<body>

  <form action name="voluntario_form" id="voluntario_form" class="form-horizontal" method="POST"
    [formGroup]="form" (submit)="adicionarVoluntario()">
    <fieldset class="module aligned">
      <div>
        <h1 class="titulo">Cadastro de Voluntário</h1>
        <br>
        <div class="panel-body">


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="Nome">Nome</label>
            <div class="col-md-8">
              <input id="Nome" name="nome" placeholder="" class="form-control input-md" type="text" formControlName="nome" required>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="Nome">CPF</label>
            <div class="col-md-2">
              <input id="cpf" name="cpf" placeholder="Apenas números" class="form-control input-md" formControlName="cpf" required=""
                type="text" pattern="[0-9]+$">
            </div>

            <label class="col-md-1 control-label" for="Nome">Nascimento</label>
            <div class="col-md-2">
              <input id="nascimento" name="nascimento" placeholder="DD/MM/AAAA" class="form-control input-md"
                required="" type="text" formControlName="nascimento">
            </div>

            <!-- Multiple Radios (inline) -->

            <label class="col-md-1 control-label" for="radios">Sexo</label>
            <div class="col-md-4">
              <label required="" class="radio-inline" for="radios-0">
                <input name="sexo" id="sexo" value="feminino" type="radio" formControlName="sexo">
                Feminino
              </label>
              <label class="radio-inline" for="radios-1">
                <input name="sexo" id="sexo" value="masculino" type="radio" formControlName="sexo">
                Masculino
              </label>
            </div>
          </div>

          <!-- Prepended text-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="prependedtext">Telefone</label>
            <div class="col-md-2">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                <input id="prependedtext" name="fone" class="form-control" placeholder="XX XXXXX-XXXX" required=""
                  type="text" formControlName="fone">
              </div>
            </div>
          </div>

          <!-- Prepended text-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="prependedtext">Email</label>
            <div class="col-md-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="prependedtext" name="email" class="form-control" placeholder="email@email.com" required=""
                  type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="email">
              </div>
            </div>
          </div>


          <!-- Search input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="CEP">CEP</label>
            <div class="col-md-2">
              <input id="cep" name="cep" placeholder="Apenas números" class="form-control input-md" required="" value=""
                type="search" formControlName="cep">
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="buscarCep()">Pesquisar</button>
            </div>
          </div>

          <!-- Prepended text-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="prependedtext">Endereço</label>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Rua</span>
                <input id="rua" name="endereco" class="form-control" placeholder="" required="" readonly="readonly"
                  type="text" formControlName="endereco">
              </div>

            </div>
            <div class="col-md-2">
              <div class="input-group">
                <span class="input-group-addon">Nº</span>
                <input id="numero" name="numero" class="form-control" placeholder="" required="" type="text" formControlName="numero">
              </div>
            </div>

            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">Complemento</span>
                <input id="complemento" name="complemento" class="form-control" placeholder="" type="text" formControlName="complemento">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="prependedtext"></label>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">Bairro</span>
                <input id="bairro" name="bairro" class="form-control" placeholder="" required="" readonly="readonly" type="text" formControlName="bairro">
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Cidade</span>
                <input id="cidade" name="cidade" class="form-control" placeholder="" required="" readonly="readonly" type="text" formControlName="cidade">
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group">
                <span class="input-group-addon">Estado</span>
                <input id="uf" name="uf" class="form-control" placeholder="" required="" readonly="readonly" type="text" formControlName="uf">
              </div>
            </div>
          </div>


          <!-- Select Basic -->
          <div class="form-group">

            <label class="col-md-2 control-label" for="selectbasic">Escolaridade</label>
            <div class="col-md-3">
              <select id="escolaridade" name="escolaridade" class="form-control" required formControlName="escolaridade">
                <option value=""></option>
                <option value="Analfabeto">Analfabeto</option>
                <option value="Fundamental Incompleto">Fundamental Incompleto</option>
                <option value="Fundamental Completo">Fundamental Completo</option>
                <option value="Médio Incompleto">Médio Incompleto</option>
                <option value="Médio Completo">Médio Completo</option>
                <option value="Superior Incompleto">Superior Incompleto</option>
                <option value="Superior Completo">Superior Completo</option>
              </select>
            </div>


            <!-- Text input-->

            <label class="col-md-1 control-label" for="profissao">Profissão</label>
            <div class="col-md-4">
              <input id="profissao" name="profissao" type="text" placeholder="" class="form-control input-md" required="" formControlName="profissao">
            </div>
          </div>

          <!-- Button (Double) -->
          <div class="form-group">
            <label class="col-md-2 control-label" for="Cadastrar"></label>
            <div class="col-md-8">
              <button id="Cadastrar" name="Cadastrar" class="btn btn-success" [disabled]="!form.valid" type="Submit" >Cadastrar</button>
              <span class="color-gray small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
              <button id="limpar" name="limpar" class="btn btn-danger" type="Reset">Limpar</button>
              <span class="color-gray small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
              <button id="voltar" name="voltar" class="btn btn-primary" routerLink="..">Voltar</button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

</body>

</html>