<body>

    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6 header-text">
            <h2 class="">Seja bem-vindo ao TechAngels!</h2>
            <h3 class="">TechAngels foi criado para ajudar os que mais precisam nessa pandemia</h3>
            <h3 class="">Cadastre-se agora mesmo e seja um voluntário</h3>
            <h3 class="">Vamos levar amor e carinho ao próximo</h3>

            <button class="btn btn-primary btn-lg btn-ornge" (click)="btnCadastrar();">Cadastre-se
                aqui</button>
        </div>
        <div class="col-md-3"></div>
    </div>

</body>