body {
    background-image: url("../../assets/images/volunteer_home.jpg");
    width: 100%;    
}

h3{
    color: white;
}

h2{
    color: white;
}

.header-text {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: block;
    float: none;
    margin: 200px auto;
    font-size: 12px;    
    padding: 42px !important;
    text-align: center;
    width: 50%;    
}

.btn-ornge {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid;
    border-radius: 0;
    width: 250px;
	font-size:18px;
	transition: all 0.35s ease 0s;
}
.btn-ornge:hover {   
    border: 2px solid #ffae00;    
	color:#ffae00;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	transition: all 0.35s ease 0s;
}
