<div class="page-container">
  <div class="sidebar">

    <div class="list-items">
      <a routerLink="/mapa" routerLinkActive="selected" class="list-item">
        <i class="material-icons">bookmark_border</i>
        Encontre Voluntário/Posto de Vacinação
      </a>
      <a routerLink="/cadastroVoluntario" routerLinkActive="selected" class="list-item">
        <i class="material-icons">bookmark_border</i>
        Cadastro de Voluntário
      </a>
      <a routerLink="/campanha" routerLinkActive="selected" class="list-item">
        <i class="material-icons">bookmark_border</i>
        Dados Campanha Nacional de Vacinação
      </a>
    </div>
  </div>
  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>
</div>