<div class="page-container">
  <div class="sidebar">
    <img src="../../assets/images/logo.png" (click)="btnHome();" class="img_logo" alt="Logo Tech Angels">
    <div class="list-items">      
      <a routerLink="/mapa-voluntario" routerLinkActive="selected" class="list-item">
        <i class="material-icons">room</i>
        Encontre Voluntário
      </a>
      <a routerLink="/mapa-posto" routerLinkActive="selected" class="list-item">
        <i class="material-icons">room</i>
        Encontre Posto de Vacinação
      </a>
      <a routerLink="/voluntario" routerLinkActive="selected" class="list-item">
        <i class="material-icons">assignment_ind</i>
        Cadastro de Voluntário
      </a>
      <a href="https://brasil.io/covid19/SP/" target="_blank" class="list-item">
        <i class="material-icons">description</i>
        Casos de COVID
      </a>
    </div>
  </div>
  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>
</div>